vault-validation/src/main/resources/filter.xsd

<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="includeExcludeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="pattern" use="required"/>
        <xs:attribute type="xs:boolean" name="matchProperties" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:attribute name="type">
    <xs:simpleType>
        <xs:restriction base="xs:string">
            <xs:pattern value="(|cleanup)"/>
        </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="mode">
    <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="replace"/>
          <xs:enumeration value="merge"/>
          <xs:enumeration value="update"/>
        </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:element name="workspaceFilter">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="filter">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="includeExcludeType" name="exclude"/>
              <xs:element type="includeExcludeType" name="include"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="root" use="required"/>
            <xs:attribute ref="type"/>
            <xs:attribute type="xs:string" name="mode"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>